
<div class="create-dialog-box scrollable-dialog">
    <div class="title-wrapper d-flex align-items-center justify-content-space-between">
      <h4 class="mb-0 dialogtitle">Client Reference Explained</h4>
      <button class="close-btn bg-transparent p-0 border-none mr-2" (click)="close()">
        <i class="flaticon-close"></i>
      </button>
    </div>
    <div class="p-0 ms-25 mb-10 mt-25">
        <p>
            In this section, we collect key information about your client experience and operational footprint in the energy management sector. 
            The details provided here help us better understand your organization’s capacity and track record as an ESCo (Energy Services Company).
          </p>
          <p>
            This information is important for evaluating your qualifications and matching you with relevant opportunities.
             If you do not have any previous projects to list, you may indicate this using the toggle option.
           </p>

           <h6>Please note: You can only add up to 5 client References.</h6>
           <br/>
          <p>
            <em>
              All information submitted will be treated confidentially and used solely for assessment, verification, and compliance with programme or regulatory requirements.
            </em>
          </p>
    </div>
  </div>

  