<div class="create-dialog-box scrollable-dialog">
    <div class="title-wrapper d-flex align-items-center justify-content-space-between">
      <h4 class="mb-0 dialogtitle">Key Employee Explained</h4>
      <button class="close-btn bg-transparent p-0 border-none mr-2" (click)="close()">
        <i class="flaticon-close"></i>
      </button>
    </div>
    <div class="p-0 ms-25 mb-10 mt-25">
        <p class="fw-semibold">  Is this a newly created job? </p>
        <p>    This will be counted as a new job created within the company. Please attach the employee’s CV and Qualifications below. </p>

    
    </div>
  </div>
