<div fxFlex>
  <mat-card class="mb-25 tagus-card">
    <mat-card-header class="d-flex justify-content-between align-items-center">
      <h5 class="mb-0">Progress: {{ progress }}%</h5>

      <!-- <span class="text-muted">Step {{ currentStep }} of {{ stepCount }}</span> -->

      <ng-container *ngIf="stepCount > 0">
        <span class="text-muted">
          Step {{ currentStep }} of {{ stepCount }}
        </span>
      </ng-container>
    </mat-card-header>
    <mat-card-content>
      <mat-progress-bar mode="determinate" [value]="progress" class="custom-progress-bar"
        [ngStyle]="{ '--progress-bar-color': getProgressBarColor(progress) }">
      </mat-progress-bar>
    </mat-card-content>
  </mat-card>
</div>
<div fxLayout="row" fxLayoutGap="20px">
  <mat-vertical-stepper #stepper linear>
    <mat-step [stepControl]="step1Form">
      <form [formGroup]="step1Form">
        <ng-template matStepLabel>Previous Projects
          <button mat-icon-button color="primary" (click)="openDialogPreviousProjects()">
            <mat-icon class="maticon-question">help_outline</mat-icon>
          </button>
        </ng-template>
        <app-previous-projects #step1Ref [parentForm]="step1Form"></app-previous-projects>
        <button mat-flat-button color="primary" matStepperNext [disabled]="!step1Ref.noProjects && step1Form.invalid">
          Next
        </button>
      </form>
    </mat-step>
    <mat-step [stepControl]="step2Form">
      <form [formGroup]="step2Form">
        <ng-template matStepLabel>
          Energy Service Offered
          <button mat-icon-button color="primary" (click)="openDialogEnergyService()">
            <mat-icon class="maticon-question">help_outline</mat-icon>
          </button>
        </ng-template>
        <app-energy-service-offered #step2Ref [parentForm]="step2Form"></app-energy-service-offered>
        <!-- <button mat-flat-button color="primary" matStepperNext
          [disabled]="step2Ref.noEnergyOffered || step2Form.invalid">
          Next
        </button> -->
        <button mat-flat-button color="primary" matStepperNext
        [disabled]="!step2Ref.noEnergyOffered && step2Form.invalid">
        Next
      </button>

      </form>
    </mat-step>
    <mat-step [stepControl]="step3Form">
      <form [formGroup]="step3Form">
        <ng-template matStepLabel>Company Information
          <button mat-icon-button color="primary" (click)="openDialogEnergyService()">
            <mat-icon class="maticon-question">help_outline</mat-icon>
          </button>
        </ng-template>
        <app-company-information [parentForm]="step3Form"></app-company-information>
        <button mat-flat-button matStepperNext [disabled]="step3Form.invalid" (click)="completeStepper()">
          Complete<mat-icon>save</mat-icon>
        </button>
      </form>
    </mat-step>
    

  </mat-vertical-stepper>
</div>