<div fxFlex>
  <mat-card class="mb-25 tagus-card">
    <mat-card-header class="d-flex justify-content-between align-items-center">
      <h5 class="mb-0">Progress: {{ progress }}%</h5>

      <!-- <span class="text-muted">Step {{ currentStep }} of {{ stepCount }}</span> -->

      <ng-container *ngIf="stepCount > 0">
        <span class="text-muted">
          Step {{ currentStep }} of {{ stepCount }}
        </span>
      </ng-container>
    </mat-card-header>
    <mat-card-content>
      <mat-progress-bar mode="determinate" [value]="progress" class="custom-progress-bar"
        [ngStyle]="{ '--progress-bar-color': getProgressBarColor(progress) }">
      </mat-progress-bar>
    </mat-card-content>
  </mat-card>
</div>
<div fxLayout="row" fxLayoutGap="20px">

  <mat-vertical-stepper #stepper linear>

    <!-- Company Information -->

    <mat-step [stepControl]="step3Form">
      <form [formGroup]="step3Form">
        <ng-template matStepLabel>
          Company Information
          <button mat-icon-button color="primary" (click)="openDialogCompanyInfo()">
            <mat-icon class="maticon-question">help_outline</mat-icon>
          </button>
        </ng-template>
        <app-company-information #companyInfoRef [parentForm]="step3Form"></app-company-information>
        <button mat-flat-button color="primary" [disabled]="step3Form.invalid" (click)="handleNextForCompanyProfile()">
          {{ companyInfoRef.isDirty ? 'Save and Next' : 'Next' }}
          <mat-icon>{{ companyInfoRef.isDirty ? 'save' : 'arrow_forward' }}</mat-icon>
        </button>
        <span *ngIf="!companyInfoRef.isDirty && companyInfoRef.lastSavedAt">
          <mat-icon color="success">check_circle</mat-icon> Saved
        </span>
      </form>
    </mat-step>

    <!-- EOF Company Information -->

    <!-- Company Equity -->
    <mat-step [stepControl]="step8Form">
      <form [formGroup]="step8Form">
        <ng-template matStepLabel>
          Company Equity
          <button mat-icon-button color="primary" (click)="openDialogCompanyEq()">
            <mat-icon class="maticon-question">help_outline</mat-icon>
          </button>
        </ng-template>
        <app-company-equity #companyEquityRef [companyEquityFormGroup]="step8Form"></app-company-equity>
        <button mat-flat-button color="primary" [disabled]="step8Form.invalid" (click)="handleNextForCompanyEquity()">
          {{ companyEquityRef.isDirty ? 'Save and Next' : 'Next' }}
          <mat-icon>{{ companyEquityRef.isDirty ? 'save' : 'arrow_forward' }}</mat-icon>
        </button>
        <span *ngIf="!companyEquityRef.isDirty && companyEquityRef.lastSavedAt">
          <mat-icon color="success">check_circle</mat-icon> Saved
        </span>
      </form>
    </mat-step>

    <!-- EOF Company Equity -->

        <!-- Sector Experience -->
        <mat-step [stepControl]="step6Form">
          <form [formGroup]="step6Form">
            <ng-template matStepLabel>
              Sector Experience
              <button mat-icon-button color="primary" (click)="openDialogSectorExp()">
                <mat-icon class="maticon-question">help_outline</mat-icon>
              </button>
            </ng-template>
            <app-sector-experience #step6Ref [parentForm]="step6Form"></app-sector-experience>
            <button mat-flat-button color="primary" matStepperNext
              [disabled]="!step6Ref.noSectorExperience && step6Form.invalid">
              Next
            </button>
          </form>
        </mat-step>
        <!-- EOF Sector Experience  -->


    <!-- Previous Projects-->

    <mat-step [stepControl]="step1Form">
      <form [formGroup]="step1Form">
        <ng-template matStepLabel>
          Previous Projects
          <button mat-icon-button color="primary" (click)="openDialogPreviousProjects()">
            <mat-icon class="maticon-question">help_outline</mat-icon>
          </button>
        </ng-template>
        <app-previous-projects #previousProjectsRef [parentForm]="step1Form"></app-previous-projects>
        <button mat-flat-button color="primary" class="mt-20"
          [disabled]="!previousProjectsRef.noProjects && step1Form.invalid" (click)="handleNextForPreviousProjects()">
          <mat-icon>{{ previousProjectsRef.isDirty ? 'save' : 'arrow_forward' }}</mat-icon>
          {{ previousProjectsRef.isDirty ? 'Save and Next' : 'Next' }}
        </button>
        <span *ngIf="!previousProjectsRef.isDirty && previousProjectsRef.lastSavedAt">
          <mat-icon color="success">check_circle</mat-icon> Saved
        </span>
      </form>
    </mat-step>
    <!-- EOF Previous Projects -->

    <!-- Client References Projects -->
    <mat-step [stepControl]="step7Form">
      <form [formGroup]="step7Form">
        <ng-template matStepLabel>
          Client Reference linked to RE/EE Technology
          <button mat-icon-button color="primary" (click)="openDialogClientReferences()">
            <mat-icon class="maticon-question">help_outline</mat-icon>
          </button>
        </ng-template>
        <app-client-references #clientReferencesRef [parentForm]="step7Form"></app-client-references>
        <button mat-flat-button color="primary" class="mt-20"
          [disabled]="!clientReferencesRef.noClientReferences && step7Form.invalid"
          (click)="handleNextForClientReferences()">
          {{ clientReferencesRef.isDirty ? 'Save and Next' : 'Next' }}
          <mat-icon>{{ clientReferencesRef.isDirty ? 'save' : 'arrow_forward' }}</mat-icon>
        </button>
        <span *ngIf="!clientReferencesRef.isDirty && clientReferencesRef.lastSavedAt">
          <mat-icon color="success">check_circle</mat-icon> Saved
        </span>
      </form>
    </mat-step>

    <!-- EOF Client References Projects -->


    <!-- Technology Classification -->
    <mat-step [stepControl]="step5Form">
      <form [formGroup]="step5Form">
        <ng-template matStepLabel>
          Technology Classification
          <button mat-icon-button color="primary" (click)="openDialogTechnologyClass()">
            <mat-icon class="maticon-question">help_outline</mat-icon>
          </button>
        </ng-template>
        <app-technology-classification #technologyClassificationRef
          [parentForm]="step5Form"></app-technology-classification>
        <button mat-flat-button color="primary" class="mb-20" [disabled]="step5Form.invalid"
          (click)="handleNextForTechnologyClassification()">
          {{ technologyClassificationRef.isDirty ? 'Save and Next' : 'Next' }}
          <mat-icon>{{ technologyClassificationRef.isDirty ? 'save' : 'arrow_forward' }}</mat-icon>
        </button>
        <span *ngIf="!technologyClassificationRef.isDirty && technologyClassificationRef.lastSavedAt">
          <mat-icon color="success">check_circle</mat-icon> Saved
        </span>
      </form>
    </mat-step>

    <!-- EOF Technology Classfication -->

    <!-- Energy service Offered-->
    <mat-step [stepControl]="step2Form">
      <form [formGroup]="step2Form">
        <ng-template matStepLabel>
          Energy Service Offered
          <button mat-icon-button color="primary" (click)="openDialogEnergyService()">
            <mat-icon class="maticon-question">help_outline</mat-icon>
          </button>
        </ng-template>
        <app-energy-service-offered #step2Ref [parentForm]="step2Form"></app-energy-service-offered>
        <button mat-flat-button color="primary" matStepperNext
          [disabled]="!step2Ref.noEnergyOffered && step2Form.invalid">
          Next
        </button>
      </form>
    </mat-step>
    <!-- EOF Energy service Offered-->

    <!-- Key Employee -->
    <mat-step [stepControl]="step4Form">
      <form [formGroup]="step4Form">
        <ng-template matStepLabel>
          Key Employee
          <button mat-icon-button color="primary" (click)="openDialogKeyEmployee()">
            <mat-icon class="maticon-question">help_outline</mat-icon>
          </button>
        </ng-template>
        <app-key-employees #step4Ref [parentForm]="step4Form"></app-key-employees>

        <button mat-flat-button matStepperNext [disabled]="step4Form.invalid" (click)="completeStepper()">
          Complete<mat-icon>save</mat-icon>
        </button>
      </form>
    </mat-step>
    <!-- EOF Key Employee -->

  </mat-vertical-stepper>
</div>