<div fxFlex>
  <mat-card class="mb-25 tagus-card">
    <mat-card-header>
      <h5 class="mb-0">Progress: {{progress}}%</h5>
    </mat-card-header>
    <mat-card-content>
      <mat-progress-bar mode="determinate" [value]="progress" class="custom-progress-bar"
        [ngStyle]="{ '--progress-bar-color': getProgressBarColor(progress) }">
      </mat-progress-bar>

    </mat-card-content>
  </mat-card>
</div>

<div fxLayout="row" fxLayoutGap="20px">
  <mat-vertical-stepper #stepper linear>
    <mat-step [stepControl]="step1Form">
      <form [formGroup]="step1Form">
        <ng-template matStepLabel>Previous Projects</ng-template>
        <app-previous-projects #step1Ref [parentForm]="step1Form"></app-previous-projects>
        <button
         
          mat-flat-button color="primary"
          matStepperNext
          [disabled]="!step1Ref.noProjects && step1Form.invalid">
          Next
        </button>
      </form>
    </mat-step>

    <mat-step [stepControl]="step2Form">
      <form [formGroup]="step2Form">
        <ng-template matStepLabel>Energy Service Offered</ng-template>
        <app-energy-service-offered #step2Ref></app-energy-service-offered>
        <button mat-button matStepperNext [disabled]="!step2Ref.noEnergyOffered && step2Form.invalid">
          Next
        </button>
      </form>
    </mat-step>

    <mat-step [stepControl]="step3Form">
      <form [formGroup]="step3Form">
        <ng-template matStepLabel>Company Information</ng-template>
        <app-company-information #step3Ref></app-company-information>
        <button mat-button matStepperNext [disabled]="step3Form.invalid">
          <button mat-button (click)="completeStepper()">Complete</button>
        </button>
      </form>
    </mat-step>

  </mat-vertical-stepper>
</div>