<div class="create-dialog-box scrollable-dialog">
    <div class="title-wrapper d-flex align-items-center justify-content-space-between">
      <h4 class="mb-0 dialogtitle">Energy Service Provided Explained</h4>
      <button class="close-btn bg-transparent p-0 border-none mr-2" (click)="close()">
        <i class="flaticon-close"></i>
      </button>
    </div>
    <div class="p-0 ms-25 mb-10 mt-25">
        <p>
            To help us better understand your experience and capabilities,
            please provide detailed information about your previous projects. Include the following where applicable:
           </p>
           <p>
            This information is important for evaluating your qualifications and matching you with relevant opportunities.
             If you do not have any previous projects to list, you may indicate this using the toggle option.
           </p>
    </div>
  </div>
