<form [formGroup]="companyEquityFormGroup">
    <!-- your fields here -->
    <div class="row mb-5">
      <div class="col-lg-6 col-md-6 col-sm-6" *ngFor="let field of [
        {label: 'Woman Owned', control: 'ce_woman_owned'},
        {label: 'Black Owned', control: 'ce_black_owned'},
        {label: 'Youth Owned', control: 'ce_youth_owned'}
      ]">
        <div class="tagus-form-group">
          <label class="d-block mb-12 fw-semibold gray-color">{{ field.label }}<span>*</span></label>
          <mat-form-field appearance="fill">
            <i class="ri-list-check"></i>
            <mat-select [formControlName]="field.control" [placeholder]="field.label">
              <mat-option *ngFor="let option of equityOptions" [value]="option">{{ option }}</mat-option>
            </mat-select>
            <mat-error *ngIf="companyEquityFormGroup.get(field.control)?.dirty || 
                              companyEquityFormGroup.get(field.control)?.touched">
              <span *ngIf="companyEquityFormGroup.get(field.control)?.hasError('required')">
                This field is required.
              </span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="tagus-form-group">
            <div class="tagus-form-group">
              <label class="d-block mb-12 fw-semibold gray-color">Please attach the BEE Certificate </label>
              <input type="file" id="ce_bee_equity_cert" (change)="onFileSelected($event)" accept=" .pdf, .png, .jpg, .doc, .docx">
            </div>
            <div *ngIf="latestBeeFile">
              <a [href]="latestBeeFileUrl" target="_blank" class="btn btn-link">
                <mat-icon>cloud_download</mat-icon>
                <span>Download current BEE Certificate</span>
              </a>
            </div>
            
            
        </div>
    </div>
    <!-- Success message -->
    <div class="mt-5 actionbt">
      <button mat-flat-button matStepperNext class="tagus actionbutton" [disabled]="companyEquityFormGroup.invalid"
          (click)="submit()">
          Save<mat-icon>save</mat-icon>
      </button>
    </div>

        
      </div>
  </form>
  