<mat-slide-toggle [(ngModel)]="noEnergyOffered" (change)="onNoEnergyOfferedChange()" class="mb-25">
    {{ noEnergyOffered ? 'I don\'t have previous projects' : 'I do have previous projects' }}
  </mat-slide-toggle>
  
  <div class="mt-1 mb-15">
    <small class="text-muted">
      {{ noEnergyOffered ? 'You have indicated that you don’t have past projects to declare, Please click Next to proceed.' :
      'Please complete your previous project details below.' }}
    </small>
  </div>

<form [formGroup]="parentForm">
    <div class="row mt-3">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="tagus-form-group">
                <label class="d-block mb-12 fw-semibold gray-color">Services offered<span>*</span></label>
                <mat-form-field appearance="fill">
                    <i class="ri-list-check"></i>
                    <mat-select formControlName="so_industry" placeholder="Select Services offered" multiple>
                        <mat-option *ngFor="let service of serviceOfferings" [value]="service">
                          {{ service }}
                        </mat-option>
                      </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="tagus-form-group">
                <label class="d-block mb-12 fw-semibold gray-color">Please Specify Others</label>
                <mat-form-field appearance="fill">
                <i class="ri-user-3-line"></i>
                <input matInput #input formControlName="so_isOther" name="so_isOther" placeholder="Other" />
            </mat-form-field>
            </div>
        </div>
        <div class="mt-5 actionbt">
            <button mat-flat-button class="tagus " type="submit" (click)="submitServiceOffered()"
                [disabled]="noEnergyOffered || parentForm.invalid"> Save<mat-icon>save</mat-icon>
            </button>
        </div>

    </div>
</form>