<mat-slide-toggle [(ngModel)]="noProjects" (change)="onNoProjectsChange()" class="mb-25">
  {{ noProjects ? 'I don\'t have previous projects' : 'I do have previous projects' }}
</mat-slide-toggle>

<div class="mt-2">
  <small class="text-muted">
    {{ noProjects ? 'You have indicated that you don’t have past projects to declare, Please click Next to proceed.' :
    'Please complete your previous project details below.' }}
  </small>
</div>

<form *ngIf="!noProjects" [formGroup]="parentForm" class="mt-25">
  <div formArrayName="projects">
    <div *ngFor="let projectGroup of projectsArray.controls; let i = index" [formGroupName]="i" class="mb-10">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="tagus-form-group">
            <mat-form-field appearance="fill">
              <i class="ri-user-3-line"></i>
              <mat-label>Client Name</mat-label>
              <input matInput formControlName="he_client_name" placeholder="Client Name" />
            </mat-form-field>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="tagus-form-group">
            <mat-form-field appearance="fill">
              <i class="ri-user-3-line"></i>
              <mat-label>Contact Person</mat-label>
              <input matInput formControlName="he_contact_person" placeholder="Contact Person" />
            </mat-form-field>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="tagus-form-group">
            <mat-form-field appearance="fill">
              <i class="flaticon-phone-call"></i>
              <mat-label>Contact Number</mat-label>
              <input matInput formControlName="he_client_contact_no" placeholder="Client contact number"
                maxlength="10" />
            </mat-form-field>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="tagus-form-group">
            <mat-form-field appearance="fill">
              <i class="flaticon-envelope"></i>
              <mat-label>Client Email</mat-label>
              <input matInput type="email" formControlName="he_contact_email" placeholder="Client Email" />
            </mat-form-field>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="tagus-form-group without-icon">
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Project Start Date</mat-label>
              <input matInput [matDatepicker]="startPicker" formControlName="he_proj_start_date" [max]="maxtDate"
                placeholder="Select start project date">
              <mat-datepicker-toggle matIconSuffix [for]="startPicker"></mat-datepicker-toggle>
              <mat-datepicker #startPicker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="tagus-form-group without-icon">
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Project End Date</mat-label>
              <input matInput [matDatepicker]="endPicker" formControlName="he_proj_end_date"
                [disabled]="!projectGroup.get('he_proj_start_date')?.value"
                [min]="projectGroup.get('he_proj_start_date')?.value" [max]="maxEndDate"
                placeholder="Select project end date" />
              <mat-datepicker-toggle matIconSuffix [for]="endPicker"></mat-datepicker-toggle>
              <mat-datepicker #endPicker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="tagus-form-group">
            <mat-form-field appearance="fill">
              <i class="flaticon-activity"></i>
              <mat-label>Savings on completed projects in MWh or kWh</mat-label>
              <input matInput type="tel" formControlName="he_savingkilowatz" placeholder="Client Email" />
            </mat-form-field>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="tagus-form-group">
            <mat-form-field appearance="fill">
              <i class="flaticon-chat"></i>
              <mat-label>Project Description</mat-label>
              <textarea matInput formControlName="he_proj_desc" placeholder="Project Description"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="tagus-form-group without-icon">
            <mat-form-field appearance="fill" floatLabel="always" class="example-full-width">
              <i class="laticon-credit-card"></i>
              <mat-label>Project Value</mat-label>
              <input matInput type="number" class="example-right-align" placeholder="0" formControlName="he_proj_value">
              <span matTextPrefix>R&nbsp;</span>
              <span matTextSuffix>.00</span>
            </mat-form-field>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 mb-5">
          <div class="tagus-form-group">
            <label class="d-block mb-12 fw-semibold gray-color">Reference Letter</label>
            <input type="file" (change)="onFileSelected($event, i)" />
          </div>
        </div>
      </div>
      <button mat-stroked-button color="warn" (click)="removeProject(i)" *ngIf="projectsArray.length > 1">
        Remove Project
      </button>
      <mat-divider class="my-3" *ngIf="i < projectsArray.length - 1"></mat-divider>
    </div>
    <div class="actionbt">
      <!-- Add Project -->
      <button mat-flat-button color="primary" (click)="addProject()"
        [disabled]="projectsArray.length >= 5 || (projectsArray.length > 0 && !projectsArray.at(projectsArray.length - 1).valid)"
        class="my-3 actionbutton">
        <mat-icon>note_add</mat-icon>
        Add Project
      </button>
      <!-- Save -->
      <button class="actionbutton" mat-flat-button color="accent" (click)="submitForm()"
        [disabled]="parentForm.invalid">
        Save
        <mat-icon>save</mat-icon>
      </button>
    </div>
  </div>
</form>